.clickable:hover {
    cursor : pointer;
}

.container {
    display : flex;
    width: 100%;
}

#control {
    display: flex;
}

.pod {
    background-color: #004841;
    margin: 2em;
    padding : 1rem;
    border: 3px greenyellow inset;
    border-radius: 1em;
    max-height: 768px;
    width: 20%;
    height: auto;
    color: white;
    overflow: auto;
}

h1 {
    text-align: center;
}

.podButton {
    margin-right: 1rem;
    margin-bottom: 5px;
}

.vid {
    text-align: center;
    background-color: black;
    width: 60%;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

.play {
    width: 20%;
    height: auto;
    margin: 2em;
}

#player {
    width: 100%;
    height: 100%;
}

#progressBar {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    height: 3em;
}

.playDiv {
    display: block;
    margin: 5px;
    text-align: center;
}

.playDiv span {
    margin-right: 5px;
}

.playButton {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
}

html {
    background-color: #49B47C;
}

#podcasts {
    margin-left: 1em;
}

